body {
  background-image: url(Pildid/Avaleht/taust.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif; 
}

.naide1 {
  max-width: 50%;
  height: 50%;
}

.info {
  color: white;
  background-color: rgb(85, 90, 77);
  border-radius: 8px;
  text-align: left;
  margin: auto;
  padding: 20px;
  width: 30%;
  position: relative;
  margin-top: 2%;
  line-height: 1.6;
}

.andmetüübid {
  text-align: center;
}

header {
  text-align: left;
}

.pilditekst {
  font-size: 15px;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 3%;
}

.info h2 {
    color: #f3f4f6;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 15px;
    display: flex;
    align-items: center;
}

.code-block {
    background-color: #1f2937;
    padding: 15px;
    border-radius: 4px;
    overflow-x: auto;
    margin: 15px 0;
    border-left: 4px solid #6b7280;
}

.code-block pre {
    margin: 0;
    padding: 0;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(50, 90, 77);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
  color: black;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
  color: black;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 