body {
  background-image: url(Pildid/Avaleht/taust.jpg);
  background-size: cover;
  margin: 0;
  padding: 0;
}

.naide1 {
  max-width: 50%;
  height: 50%;
}

.info {
  color: white;
  background-color: rgb(85, 90, 77);
  text-align: center;
  margin: auto;
  padding: 20px;
  width: 30%;
  border: 2px solid black;
  position: relative;
  margin-top: 2%;
}

header {
  text-align: left;
}

.pilditekst {
  font-size: 15px;
  text-align: center;
  color: whitesmoke;
  margin-bottom: 3%;
}

 /* Style the tab */
.tab {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(50, 90, 77);
}

/* Style the buttons that are used to open the tab content */
.tab button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
}

/* Change background color of buttons on hover */
.tab button:hover {
  background-color: #ddd;
}

/* Create an active/current tablink class */
.tab button.active {
  background-color: #ccc;
}

/* Style the tab content */
.tabcontent {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
} 