Body {
    background-image: url(Pildid/Avaleht/taust.jpg);
    overflow: scroll;
}

.Üleminenupp {
    display: flex;
    flex-direction: row;
    column-gap: 5%;
    overflow: hidden;
    height: auto;
    background-color: rgb(72, 77, 63);
    opacity: 50%;
    margin: auto;
}

.Aktiivne {
    float: left;
}

.Üleminenupp a {
    color: rgb(255, 255, 255);
    display: block;
    text-decoration: none;
    margin: 12px 12px;
}