body {
  color: white;
}

.naide1 {
  max-width: 30%;
  height: 30%;
  display: block;
  margin-left: auto;
  margin-right: auto;
}

header {
    font-size: 2.5em;
    font-weight: bold;
    color: #f3f4f6;
    margin-bottom: 20px;
    border-bottom: 3px solid #6b7280;
    padding-bottom: 5px;
}

.info {
  color: #e5e5e5;
  background-color: rgba(69, 74, 66); 
  border-radius: 8px;
  text-align: left;
  margin: auto;
  padding: 30px;
  position: relative;
  line-height: 1.6;
  margin-bottom: 30px;
  margin-top: 0;
  }

.andmetüübid {
  display: block;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 1%;
}

header {
  text-align: left;
}

.pilditekst {
  font-size: 14px;
  text-align: center;
  color: gainsboro;
  margin-bottom: 1%;
}

.info h2 {
    color: #f3f4f6;
    font-size: 2em;
    font-weight: bold;
    margin-top: 0;
    margin-bottom: 10px;
    display: flex;
    align-items: center;
}

code {
  font-family: Consolas,"courier new";
  color: beige;
  background-color: rgb(40, 50, 50);
  padding: 2px;
  font-size: 90%;
}

.sakk {
  overflow: hidden;
  border: 1px solid #ccc;
  background-color: rgb(50, 90, 77);
}

.sakk button {
  background-color: inherit;
  float: left;
  border: none;
  outline: none;
  cursor: pointer;
  padding: 14px 16px;
  transition: 0.3s;
  color: white;
}

.sakk button:hover {
  background-color: #ddd;
  color: black;
}

.sakk button.active {
  background-color: #ccc;
  color: black;
}

.sakksisu {
  display: none;
  padding: 6px 12px;
  border: 1px solid #ccc;
  border-top: none;
  background-color: rgb(49, 53, 43);
} 