.body {
    background-color: rgb(34, 40, 49);
    font-family: Arial, sans-serif;
}

.sisu {
    color: rgb(255, 255, 255);
    background-color: rgba(69, 74, 66);
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 30%;
    border: 2px solid black;
    position: relative;
    top: 20px;
    right: 30%;
}

.sisu2 {
    color: rgb(255, 255, 255);
    background-color: rgba(69, 74, 66);
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 50%;
    border: 2px solid black;
    position: absolute;
    top: 15%;
    left: 40%;
}

.pilt1 {
    background-color: rgba(69, 74, 66);
    width: 100%;
    height: auto;
    margin-top: 20px;
    border: 1px solid black;
}

.sisu3 {
    color: rgb(255, 255, 255);
    background-color: rgba(69, 74, 66);
    text-align: center;
    margin: auto;
    padding: 20px;
    width: 40%;
    border: 2px solid black;
    position: absolute;
    top: 35%;
    left: 45%;
}

.pilt2 {
    background-color: rgba(69, 74, 66);
    width: 100%;
    margin-top: 20px;
    border: 1px solid black;
}